{% extends "stampo.htm" %}
{% block title %}Lista prodotti{% endblock %}
{% block content %}
<h3>Lista prodotti</h3>
<table class="table table-hover">
        <thead>
        <tr>
            <th>Prodotto</th>
            <th>Vetrina?</th>
            <th>Azioni</th>
        </tr>
        </thead>
        {% for prodotto in prodotti %}
            <tr>
                <td>{{ prodotto.nome }}</td>
                <td>{{ prodotto.showcase }}</td>
                <td><a href="/prodotto_edit/{{ prodotto.pid }}"><i class="material-icons">add</i></a> <a href="/prodotto_del/{{ prodotto.pid }}"><i class="material-icons">delete</i> <a href="/prodotto_vetrina/{{prodotto.pid}}"><i class="material-icons">assistant_photo</i></a></td>
            </tr>
        {% endfor %}
    </table>
{%endblock%}