{% extends "stampo.htm" %}
{% block title %}Homepage{% endblock %}
{% block extrahead %}
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.slider');
            var instances = M.Slider.init(elems, {height: 300, interval: 5000, indicators: false});
        });
        $(document).ready(function () {
            $('.tabs').tabs();
        });
    </script>
{% endblock %}
{% block content %}
    <br>
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="{{ url_for('static', filename='Fermitech.png') }}"> <!-- random image -->
                <div class="caption center-align">
                </div>
            </li>
            {% for prodotto in highlight %}
                <li>
                    <img src="{{ url_for('static', filename='{}'.format(prodotto.image)) }}"> <!-- random image -->
                    <div class="caption center-align">
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <div class="info-panel">
            <div class="col s12" style="padding-left:0px; padding-right:0px;">
                <ul class="tabs">
                    <li class="tab col s3"><a href="#intro">{{ gettext("About") }}</a></li>
                    <li class="tab col s3"><a href="#products">{{ gettext("Products") }}</a></li>
                    <li class="tab col s3"><a href="#personnel">{{ gettext("Personnel") }}</a></li>
                    <li class="tab col s3" style="background-color: #424242"></li>
                </ul>
            </div>
            <br>
            <div id="intro" class="col s12" style="background-color: #424242; color: #fafafa">
                <h3>{{ gettext("Welcome,") }}</h3>
                <p class="flow-text">{{ gettext("this is the website of Fermitech-Softworks, ") }}</p>
            </div>
            <div class="row" id="products" class="col s12" style="background-color: #424242; color: #fafafa">
                {% set counter=0 %}
                <div class="row" style="margin-left:10px; margin-right: 10px">
                    {% for prodotto in prodotti %}
                        <div class="col s4">
                            <div class="card small" style="width: 20rem; background-color: #424242">
                                <div class="card-image" style="margin-right: 5px; margin-left: 5px; ">
                                    <img class="card-img-top"
                                         src="{{ url_for('static', filename='{}'.format(prodotto.image)) }}">
                                </div>
                                <div class="card-content">
                                    {{ prodotto.descrizione_breve }}
                                </div>
                                <div class="card-action">
                                    <a href="/product_inspect/{{prodotto.pid}}" style="color:#fafafa">Learn more</a>
                                </div>
                            </div>
                        </div>
                        {% set counter=counter + 1 %}
                        {% if counter is divisibleby 2 %}
                            </div>
                            <div class="row">
                        {% endif %}
                    {% endfor %}
                    </div>
            </div>
            <div id="personnel" class="col s12" style="background-color: #424242; color: #fafafa">
                <div class="row" style="margin-left:10px; margin-right: 10px">
                    {% for person in team %}
                        <div class="card horizontal">
                            <div class="card-stacked">
                                <div class="card-content" style="background-color: #424242; color: #fafafa">
                                    <h5>{{ person.nome }} {{ person.cognome }}</h5>
                                    <p> {{ person.titolo }} - {{ person.ruolo }} </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}