{% extends "stampo.htm" %}
{% block title %}Homepage{% endblock %}
{% block extrahead %}
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.slider');
            var instances = M.Slider.init(elems, {height: 300, interval: 5000, indicators: false});
        });
        $(document).ready(function () {
            $('.tabs').tabs();
        });

        let lastmid = 0;

        function getMore(upper) {
            let xhr = new XMLHttpRequest();
            xhr.addEventListener("readystatechange", function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        let ans = JSON.parse(xhr.response);
                        let mainDiv = document.getElementById("intro");
                        for (let key in ans) {
                            if (ans[key]['mid'] != lastmid) {
                                let cardDiv = document.createElement("div");
                                let cardDivInt = document.createElement("div");
                                let contentDiv = document.createElement("div");
                                let actionDiv = document.createElement("div");
                                cardDiv.className = "card horizontal"
                                cardDivInt.className = "card-stacked"
                                contentDiv.className = "card-content"
                                actionDiv.className = "card-action"
                                mainDiv.appendChild(cardDiv)
                                cardDiv.appendChild(cardDivInt)
                                cardDivInt.appendChild(contentDiv)
                                cardDivInt.appendChild(actionDiv)
                                contentDiv.innerHTML = ans[key]['contenuto']
                                actionDiv.textContent = ans[key]['data']
                                lastmid = ans[key]['mid']
                            }
                        }
                        let button = document.getElementById("morebutton")
                        button.remove()
                        button.setAttribute("onclick", "getmore(" + lastmid + ")")
                        mainDiv.appendChild(button)
                    } else {
                    }
                }
            });
            xhr.open("GET", "/blogpost/get/" + upper, true)
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send();
        }

    </script>
{% endblock %}
{% block content %}
    <h3>{{ gettext("Welcome,") }}</h3>
    <p class="flow-text">{{ gettext("this is the website of Fermitech-Softworks, a software development organization. In the last years we have developed, for the most part, web-based management software for many different work-cases, from schools to restaurants.") }}</p>
    <div class="row">
        <div class="info-panel">
            <div class="col s12" style="padding-left:0px; padding-right:0px;">
                <ul class="tabs">
                    <li class="tab col s4"><a href="#intro">{{ gettext("Blogposts") }}</a></li>
                    <li class="tab col s4"><a href="#products">{{ gettext("Products") }}</a></li>
                    <li class="tab col s4"><a href="#personnel">{{ gettext("Personnel") }}</a></li>
                </ul>
            </div>
            <br>
            <div id="intro" class="col s12" style="background-color: #424242; color: #424242">
                {% if latestDate is defined %}
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content">
                            {{ latestContent }}
                        </div>
                        <div class="card-action">
                            {{ latestDate.day }}/{{ latestDate.month }}/{{ latestDate.year }} {{ latestDate.hour }}:{{ latestDate.minute }}
                        </div>
                    </div>
                </div>
                <div id="morebutton">
                    <a onclick="getMore({{ latestMid }})"
                       class="btn btn-block" style="margin-bottom: 1rem">{{ gettext("Load more") }}</a>
                </div>
                {% endif %}
            </div>
            <div class="row" id="products">
                <div class="col s12" style="background-color: #424242; color: #fafafa">
                    {% for prod_row in prodotti | batch(1, '&nbsp;') %}
                        <div class="row">
                            {% for prodotto in prod_row %}
                                {% if prodotto.nome %}
                                    <div class="col s12" style="margin: auto">
                                        <div class="card small"
                                             style="width: auto; background-color: #fafafa ; color: #424242">
                                            <div class="card-image" style="margin-right: 5px; margin-left: 5px; ">
                                                <img class="card-img-top"
                                                     src="{{ url_for('static', filename='{}'.format(prodotto.image)) }}">
                                            </div>
                                            <div class="card-content">
                                                {{ prodotto.descrizione_breve }}
                                            </div>
                                            <div class="card-action">
                                                <a href="/product_inspect/{{ prodotto.pid }}" style="color:#424242">Learn
                                                    more</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="personnel" class="col s12" style="background-color: #424242; color: #fafafa">
                <div class="row" style="margin-left:10px; margin-right: 10px">
                    {% for person in team %}
                        <div class="card horizontal">
                            <div class="card-stacked">
                                <div class="card-content" style="background-color: #424242; color: #fafafa">
                                    <h5>{{ person.nome }} {{ person.cognome }}</h5>
                                    <p> {{ person.titolo }} - {{ person.ruolo }} </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <footer class="default-footer" style="border-radius: 0px; box-shadow: 0px 0px">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Fermitech softworks</h5>
                    <p class="grey-text text-lighten-4">{{ gettext("To contact Fermitech Softworks, write to") }} <a
                            href="mailto:info@fermitech.info">info@fermitech.info</a></p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">{{ gettext("Links") }}</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/Fermitech-Softworks">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 Fermitech Softworks, Lorenzo Balugani
            </div>
        </div>
    </footer>
{% endblock %}