{% extends "stampo.htm" %}
{% block title %}{{ prodotto.nome }}{% endblock %}
{% block extrahead %}
    <script>
        $(document).ready(function () {
            $('.tabs').tabs();
        });
        $(document).ready(function () {
            let isMobile = window.matchMedia("only screen and (max-width: 760px)").matches;
            let image = document.getElementById("image")
            let linkBack = document.getElementById("back")
            if (isMobile) {
                image.hidden = true
                linkBack.href = "{{ url_for("page_phone_home") }}"
            }
            if (/Mobi|Android/i.test(navigator.userAgent)) {
                image.hidden = true
                linkBack.href = "{{ url_for("page_phone_home") }}"
            }
        });
    </script>
{% endblock %}
{% block content %}
    <a class="btn btn-block" href="{{ url_for("page_home") }}" style="margin-bottom: 1rem" id="back">{{ gettext("Go back") }}</a>
    <img src="{{ url_for('static', filename=prodotto.image) }}" id="image">
    <br>
    <div class="row">
    <div class="info-panel">
        <div class="col s12" style="padding-left:0px; padding-right:0px;">
            <ul class="tabs">
                <li class="tab col s3"><a href="#description">{{ gettext("Description") }}</a></li>
                <li class="tab col s3"><a href="#requirements">{{ gettext("Requirements") }}</a></li>
                <li class="tab col s3"><a href="#licence">{{ gettext("Licence") }}</a></li>
                <li class="tab col s3"><a href="#downloads">{{ gettext("Downloads") }}</a></li>
            </ul>
        </div>
        <br>
        <div class="row" id="description" style="background-color: #fafafa; color: #424242">
            {{ desc|safe }}
        </div>
        <div class="row" id="requirements" style="background-color: #fafafa; color: #424242">
            {{ req|safe }}
        </div>
        <div id="licence" class="row" style="background-color: #fafafa; color: #424242">
            {{ lic|safe }}
        </div>
        <div id="downloads" class="row" style="background-color: #fafafa; color: #424242">
            {{ down|safe }}
        </div>
    </div>
{% endblock %}
